<div class="article-container">
    <% for(var i=0; i < users.length; i++) {%>
    <div class="comments">
        <h1 style="background: none; color: #222;">Username: <%=users[i].username%></h1>
        <h2 style="background: none; color: #222;">Email: <%=users[i].email%></h2>
        <h4 style="background: none; color: #222;">Id: <%=users[i].id%></h4>
        <div class="tools-article">
            <button id="edit-button"><a href="/admin/users/edit/<%=users[i].id%>">Edit</a></button>
            <button id="delete-button"><a href="/admin/users/delete/<%=users[i].id%>">Delete</a></button>
        </div>
    </div>
    <% } %>
        <button style="width: 100%; " class="go-home-button"> <a style="border: none; background: none; color: whitesmoke;" href="/admin/users/create">Create a new user!</a></button>

</div>