
<div class="post-container">
    <div class="go-back">
        <a href="/blog"><box-icon name='arrow-back' color="#FFFFFF"></box-icon><p>Go back</p>
</a>
    </div>
    <div class="title-container">
        <h1><%=post.title%></h1>
        <h5>14 January 2023</h5>
        <p><%-post.content%></p>
        <img src="https://i.imgur.com/8m1BmVP.png" alt="alt" style="max-height: 500px; margin-bottom: 2rem;">
    </div>
    <div class="contact-container">    
        <p>Article by: <span style="color: #E93A7D;"><%=user.username%></span></p>
        <div class="social-media">
            <p style="margin: 0;">Share on</p>
            <box-icon type='logo' name='twitter' color="#E93A7D"></box-icon>
            <box-icon name='facebook-circle' type='logo' color="#E93A7D"></box-icon>
            <box-icon name='google' type='logo' color="#E93A7D"></box-icon>
        </div>
    </div>

    

    <div class="comment-container" style="display: block;">
        <h2>Comments:</h2>
        <% for(var j=0; j < comments.length; j++) {%>
            <% if( comments[j].post_id == post.id ) {%>
        <div class="comment-content">
            <h3>Author: <span style="color: #E93A7D;"><%= comments[j].author %></span></h3>
            <p style="margin-top: 1rem;"> <%= comments[j].content %></p>
            <hr style="margin: 1rem 0 1rem 0;">
        </div>
            <% } else { %>
                <% } } %>
                <div class="comment-header">
                    <button id="pink-button" class="add-comment">Add Comment</button>
                    <form class="add-comment-section" id="form-add-comment" action="/admin/posts/:postId/comments/blog" method="POST">
                        <input type="text" placeholder="Your name" name="author" id="comment-author" autocomplete="off" required >
                        <input type="text" placeholder="Your comment" name="content" id="comment-input" autocomplete="off" required>
                        <input type="hidden" value=" <%= post.id %>" name="postid">
                        <br>
                        <button type="submit" id="blue-button">Submit</button>
                    </form>
                </div>
    </div>
</div>    